@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: black;
}
footer{
    border-top: 1px solid rgb(241, 241, 241);
    margin-top: 20px !important;
}
.login{
    height: 70vh;
}
.hero_left{
    background-image: url(../images/img_1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    max-width: 100%;
    height: 550px;
}
.hero_left_title{
    font-size: 2.4rem;
}
.top_left, .top_right, .bottom_right, .bottom_left{
    background-size: cover;
    background-repeat:no-repeat;
    max-width: 100%;
    height: 270px;
}
.top_left{
    background-image: url(../images/img_2.jpg);
}
.top_right{
    background-image: url(../images/img_3.jpg);
}
.bottom_left{
    background-image: url(../images/img_4.jpg);
}
.bottom_right{
    background-image: url(../images/img_5.jpg);
}

.aside_link{
    text-decoration:none;
    color:black;
    font-size: 17px;
    font-weight:500;
    transition: .5s;
    display: block;
    padding: 15px 0;
  }
  .aside_item{
    transition: .5s;
  }
  .aside_item:hover{
    background-color: #f0f0f0;
  }
  .stroke-text {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    color: transparent !important;
}.product_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.product_img img{
    width: 100%;
    height: 250px;
    transition: .5s;
}
.product_img img:hover{
    transform: scale(1.1);

}
.discount{
    top: 5px;
    right: 5px;
    z-index: 99;
}
.cart{
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: -2px;
    font-size: 14px;
}
.profile_img{
    width: 130px;
}